<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
</head>

<body>
<div class="x-body">
    <form class="layui-form">
        <input type="hidden" name="room_id" value="{{.RoomInfo.RoomId}}">
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">*</span>名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="name" required="" lay-verify="required"
                       value="{{.RoomInfo.Name}}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="pos_num" class="layui-form-label">
                <span class="x-red">*</span>容量
            </label>
            <div class="layui-input-inline">
                <input type="text" id="pos_num" name="pos_num" required="" lay-verify="int"
                       autocomplete="off" class="layui-input" value="{{.RoomInfo.PosNum}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="start_time" class="layui-form-label">
                <span class="x-red">*</span>开始借用时间
            </label>
            <div class="layui-input-block">
                <input type="text" id="start_time" name="start_time" required=""
                       autocomplete="off" class="layui-input" value="{{.RoomInfo.StartTime}}">
                开始的时间点 例如：8:30,14:30 多个用逗号隔开
            </div>
        </div>
        <div class="layui-form-item">
            <label for="end_time" class="layui-form-label">
                <span class="x-red">*</span>结束借用时间
            </label>
            <div class="layui-input-block">
                <input type="text" id="end_time" name="end_time" required=""
                       autocomplete="off" class="layui-input" value="{{.RoomInfo.EndTime}}">
                结束的时间点 例如：11:30,15:30，则可用的时间段为8:30~11:30 14:30~15:30
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label for="desc" class="layui-form-label">
                其他说明
            </label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" id="desc" name="desc" class="layui-textarea">{{.RoomInfo.Desc}}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button class="layui-btn" lay-filter="add" lay-submit="">
                增加
            </button>
        </div>
    </form>
</div>
<script>
    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form
                , layer = layui.layer;
        //监听提交
        form.on('submit(add)', function (data) {
            console.log(data);
            $.post("/room/update/", data.field, function (res) {
                layer.alert(res.msg, {icon: 6}, function () {
                    // 获得frame索引
                    var index = parent.layer.getFrameIndex(window.name);
                    //关闭当前frame
                    parent.layer.close(index);
                });
            })
            return false;
        });


    });
</script>
</body>

</html>