<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>借用系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
</head>
<body>
<div class="x-body layui-anim layui-anim-up">
    <blockquote class="layui-elem-quote">欢迎您：
        <span class="x-red"></span>当前时间:{{.date}}</blockquote>

    <fieldset class="layui-elem-field">
        <legend>系统通知</legend>
        <div class="layui-field-box">
            <table class="layui-table" lay-skin="line">
                <tbody>
                <tr>
                    <td>
                        <a class="x-a" href="/" target="_blank">借用预约系统正在开发</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field">
        <legend>系统信息</legend>
        <div class="layui-field-box">
            <table class="layui-table">
                <tbody>
                <tr>
                    <th>当前版本</th>
                    <td>beta</td>
                </tr>
                <tr>
                    <th>服务器地址</th>
                    <td>{{.ip}}</td>
                </tr>
                <tr>
                    <th>操作系统</th>
                    <td>linux、windows、mac</td>
                </tr>
                <tr>
                    <th>开发语言</th>
                    <td>golang mysql html css js</td>
                </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field">
        <legend>开发团队</legend>
        <div class="layui-field-box">
            <table class="layui-table">
                <tbody>
                <tr>
                    <th>版权所有</th>
                    <td>中国民航大学(易航工作室)
                        <a href="http://www.ehang.cn/" class='x-a' target="_blank">访问官网</a></td>
                </tr>
                <tr>
                    <th>web开发部</th>
                    <td>刘河</td>
                </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <blockquote class="layui-elem-quote layui-quote-nm">感谢layui,jquery,beego。</blockquote>
</div>
</body>
</html>